streamlit
sentence-transformers
numpy
pandas
scikit-learn
aiofiles
python-dotenv
openai
python-docx
PyPDF2
duckduckgo-search
easyocr
pdf2image
sqlite3
blinker
watchdog
altair
pyarrow
rich
tenacity
validators
requests
Pillow


